.fl{float:left;}                    /* 左浮动 */
.fr{float:right;}                   /* 右浮动 */
.clear{clear:both;}                 /* 清除浮动 */
.tc{text-align:center;}             /* 水平居中对齐 */
.tr{text-align:right;}              /* 水平右对齐 */
.tl{text-align:left;}               /* 水平左对齐 */
.vm{vertical-align:middle;}         /* 元素放置在父元素的中部 */
.vtb{vertical-align:text-top;}      /* 元素的顶端与父元素字体的顶端对齐 */
.vtb{vertical-align:text-bottom;}   /* 元素的底端与父元素字体的底端对齐 */
.vt{vertical-align:top;}            /* 元素的顶端与行中最高元素的顶端对齐 */
.vt{vertical-align:bottom;}         /* 元素的顶端与行中最低的元素的顶端对齐 */
.tdl{text-decoration:underline;}    /* 下划线 */
.tdt{text-decoration:line-through}  /* 贯穿线 */
.tdo{text-decoration:overline}      /* 上划线 */
.b{font-weight:bold;}               /* 字体加粗 */
.ffw{font-family:"微软雅黑"}         /* 字体雅黑 */
.ffs{font-family:'宋体';}           /* 字体宋体 */
.pf{position:fixed;}                /* 固定定位 */
.pr{position:relative;}             /* 相对定位 */
.pa{position:absolute;}             /* 绝对定位 */
.ovh{overflow:hidden;}              /* 溢出隐藏 */
.ofxh{overflow-x:hidden}            /* 水平隐藏 */
.ofxs{overflow-x:scroll}            /* 水平滚动 */
.ofyh{overflow-y:hidden}            /* 垂直隐藏 */
.ofys{overflow-y:scroll}            /* 垂直滚动 */
.dn{display:none;}                  /* 隐藏 */
.db{display:block;}                 /* 块元素 */
.dib{display:inline-block;}         /* 行内块元素 */
.di{display:inline;}                /* 行内元素 */
.cur{cursor:pointer;}               /* 鼠标手指形状 */